# Symfony2
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/composer.phar
/web/uploads/*
/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/.idea/*