<h3>Purchase Product</h3>

<p>Hi {{ username }}!</p>

<p>Your item has succesfully accepted by the seller. Click the link bellow to open it.</p>
<a href="{{ link }}">{{link}}</a><br><br>

Thanks!<br>
Symfoto Team

<br><br><hr>
<p>If you're having trouble clicking the password reset button, copy and paste the URL into your web browser.</p>
