<h3>User Confirmation</h3>

<p>Hi {{ username }}!</p>

<p>Thank you for joining us! Please click the link below to finish your registration.</p>
<a href="{{ link }}">{{link}}</a><br><br>

Thanks!<br>
Symfoto Team

<br><br><hr>
<p>If you're having trouble clicking the password reset button, copy and paste the URL into your web browser.</p>
