{% block footer %}
    <div class="footer">
        <div class="container">
            <hr>
            <div class="infor-top">
                <div class="col-md-4 infor-left">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                        <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                        <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                    </ul>
                </div>
                <div class="col-md-4 infor-left">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="#"><p>Imprint</p></a></li>
                        <li><a href="#"><p>General Terms and Conditions</p></a></li>
                        <li><a href="#"><p>Privacy Policy</p></a></li>
                    </ul>
                </div>
                <div class="col-md-4 infor-left">
                    <h3>Project</h3>
                    <ul>
                        <li><a href="https://wiki-sdf.f4.htw-berlin.de/wiki/Gruppe_F1_-_Symfony"><p>Wiki</p></a></li>
                        <li><a href="https://symfony.com/"><p>Symfony</p></a></li>
                        <li><a href="http://ai-master.htw-berlin.de/"><p>University</p></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container">
            <div class="footer-top">
                <div class="col-md-12 footer-right">
                    <p>© 2018 Symfoto. All Rights Reserved | Design Template by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}