{% block footer %}
    <div class="footer">
        <div class="container">
            <div class="infor-top">
                <div class="col-md-4 infor-left">
                    <h3>Follow Us</h3>
                    <ul>

                    </ul>
                </div>
                <div class="col-md-4 infor-left">
                    <h3>Information</h3>
                    <ul>

                    </ul>
                </div>
                <div class="col-md-4 infor-left">
                    <h3>HTW Berlin</h3>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="container">
            <div class="footer-top">
                <div class="col-md-6">
                    <p>© 2017 SDF-Symfony</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}