{% block nav %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SDF-Symfony</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Popular Brands <span class="caret"></span></a>
              <ul class="dropdown-menu">
                    <li><a href="products.html">499 Store</a></li>
                    <li><a href="products.html">Fastrack</a></li>
                    <li><a href="products.html">Casio</a></li>
                    <li><a href="products.html">Fossil</a></li>
                    <li><a href="products.html">Maxima</a></li>
                    <li><a href="products.html">Timex</a></li>
                    <li><a href="products.html">TomTom</a></li>
                    <li><a href="products.html">Titan</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Style Zone<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="products.html">Shoes</a></li>
                    <li><a href="products.html">Watches</a></li>
                    <li><a href="products.html">Brands</a></li>
                    <li><a href="products.html">Coats</a></li>
                    <li><a href="products.html">Accessories</a></li>
                    <li><a href="products.html">Trousers</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="products.html">New Arrivals</a></li>
                    <li><a href="products.html">Blazers</a></li>
                    <li><a href="products.html">Swem Wear</a></li>
                    <li><a href="products.html">Accessories</a></li>
                    <li><a href="products.html">Handbags</a></li>
                    <li><a href="products.html">T-Shirts</a></li>
                    <li><a href="products.html">Watches</a></li>
                    <li><a href="products.html">My Shopping Bag</a></li>
                </ul>
            <li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if app.user %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hallo <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My Dashboard</a></li>
                        <li><a href="#">My Basket</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="/login">Login</span></a></li>
            {% endif %}
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock %}
