{% block nav %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SDF-Symfony</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            {% if app.user %}    
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hallo {{ app.user.username }}!<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">Dashboard</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="/admin">Admin Dashboard</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="/login" class="nav-dropdown">Login/Register</span></a></li>
            {% endif %}
            <li>

                <a href="/checkout" class="box_1" style="padding-top: 0.3em">
                    <div class="box_1">
                            <div class="total">
                            <img src="{{ asset('images/cart-1.png') }}" alt="" />
                            <p style="margin-top: -0.2em"><span class="pull-right"></span></p>
                    </div>
                </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock %}
