{% extends 'base.html.twig' %}

{% block body %}
	<img title="batman.jpg" alt="batman.jpg" height="400" src="/uploads/media/default/0001/01/thumb_1_default_small.jpeg"  />

	<input id="basketId"><button onclick=addBasketItem()>+</button>
	 <!--TODO: Button zu div umwandeln (siehe function) und in Design einbinden-->

	<script>
		function addBasketItem() {
			var request = new XMLHttpRequest();
			var item = document.getElementById("basketId").value;
			request.open("POST", "basket/" + item);
			request.addEventListener('load', function(event) {
				window.location.reload();
			})
			request.send();
		}
		$(document).ready(function(c)
		{
			$('.close1').on('click', function(c)
			{
				var itemId = c.target.id;
				var selectorForCartItem = '#cartitem' + itemId;
				$(selectorForCartItem).fadeOut('slow', function(c)
				{
					$(selectorForCartItem).remove();
				});

				var request = new XMLHttpRequest();
				request.open("DELETE", "basket/" + itemId);
				request.send();
			});	  
		});
	</script>

	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h2>KASSE</h2>
			</div>
			<div class="ckeckout-top">
				<div class="cart-items">
					<h3>Mein Einkaufswagen</h3>
					<script>

				   </script>

					<div class="in-check" >
						<ul class="unit">
							<li><span>Bild</span></li>
							<li><span>Name</span></li>		
							<li><span>Preis</span></li>
							<li> </li>
							<div class="clearfix"> </div>
						</ul>

						{% for item in basketItems %}						
							<ul class="cart-header" id="cartitem{{item.id}}" >
								<div class="close1" id="{{item.id}}"> </div>
								<li><span>{% thumbnail item.image, 'small' %}</span></li>
								<li><span class="name">{{item.name}}</span></li>
								<li><span class="cost">{{item.price}}</span></li>
								<div class="clearfix"> </div>
							</ul>
						{% endfor %}
					</div>
				</div>  
		 	</div>
		</div>
	</div>
	
{% endblock %}