{% extends 'base.html.twig' %}

{% block body %}
<div class="main-body">
	<div class="col-md-12">
		<div class="ckeck-top heading">
			<h2>
			Categories
				{% if app.user %}
            	{%- if is_granted('ROLE_PHOTOGRAPH') -%}
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">+New</button>
				{%- endif -%}
			{% endif %}
			</h2>
			<p>
			 Below is the list of the categories. If you would like to create ones, signup as photographer.
			</p>
		</div>

		<div class="tabs">
            <ul class="menu_drop">
                <li class="item1"><a>List of categories</a></li>
            </ul>
        </div>

		<div class="col-sm-6 col-md-4 col-lg-2">
			<h3>
				<a href="/sort?q=null">#NoCategory</a> 
			</h3>
		</div>
		{% for category in categories %}
		<div class="col-sm-6 col-md-4 col-lg-2">
			<h3>
				<a href="/sort?q={{category.name}}">#{{category.name}}</a> 
			</h3>
		</div>
		{% endfor %}
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new category</h5>
      </div>
      <div class="modal-body">
        <form action="{{ path('addCategory') }}" method="post">
			<div class="row">
				<div class="col-md-10">
					<div class="form-group">
						<input name="categoryName" type="text" placeholder="New Category" class="form-control" required pattern="^[A-Za-z0-9_]{1,20}$" title="Category with character maximum of 20 and no space">
					</div>
				</div>
				<div class="col-md-2">
					<button type="submit" name="order" value="order" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
	$('#myModal').on('shown.bs.modal', function () {
		$('#myInput').trigger('focus')
	})

</script>
{% endblock %}