{% extends 'base.html.twig' %}

{% block sidebar %}
    {%- include 'sidebar.html.twig' -%}
{% endblock %}

{% block body %}
<div class="small-body">
    <div class="container">
        <h3>You succesfully bought something!</h3>
    </div> <!-- /container -->
</div>
{% endblock %}