{% extends 'base.html.twig' %}

{% block sidebar %}
    {%- include 'sidebar.html.twig' -%}
{% endblock %}

{% block body %}
<div class="small-body">
    <div class="container">

    </div> <!-- /container -->
</div>
{% endblock %}