{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <section class="main-section contact">
        <h2>PASSWORT VERGESSEN</h2><br>
        <h6>
            Es wurde eine Email an die eingegebene Email-Adresse gesendet.
        </h6>
        <br>
    </section>
{% endblock %}