{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <section class="main-section contact">
        <h2>PASSWORT VERGESSEN</h2><br>
        <h6>
            Das Password für diesen Nutzer wurde bereits angefordert und kann nur einmal alle 24 angefordert werden.
        </h6>
        <br>
    </section>
{% endblock fos_user_content %}
