{% extends 'base.html.twig' %}

{% block body %}
<div class="main-body">
    {% if message %}
        <div class="alert alert-{{ status }}">
            {{ message }}
        </div>		
    {% endif %}
</div>
{% endblock %}

